<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>User Profile</h2>
        </div>
    </div>
  </div>
</section>

<section class="section-sm bg-gray">
  <div class="container">
    <div class="row">
      <!-- blog contect -->
      <div class="col-12 mb-5">
        <h4>Username</h4>
        <p><%= @user.username%></p>
        <h4>E-mail</h4>
        <p><%= @user.email %></p>
        <h4>First Name</h4>
        <p><%= @user.first_name %></p>
        <h4>Last Name</h4>
        <p><%= @user.last_name %></p>
      </div>
    </div>
  </div>
</section>
