<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2><%= @podcast.title %></h2>
        <h3><%= @podcast.publisher.name %>
        </div>
    </div>
  </div>
</section>

<section class="section-sm bg-gray">
  <div class="container">
    <div class="row">
      <!-- blog contect -->
      <div class="col-12 mb-5">
        Something Goes Here
      </div>
    </div>
  </div>
</section>
